@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;;
}

*{
    margin: 0%;
    padding: 0%;
}
body, html{
    background-color: lightgray;
    font-family: var(--fonte1);
}
header{
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 2em;
}
header > p{
    color: aliceblue;
    font-variant: small-caps;
    padding-bottom: 50px;
}
a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}
section.normal{
    background-color: aliceblue;
    color: black;
}
section.imagem{
    background-color: rgb(90, 90, 90);
    color: aliceblue;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgb(51, 51, 51);
}